@import './cores';
//Botões
.btn-contorno-verde{
  border:1px solid $c001;
  color:$c001;
}

.btn-verde{
  background-color: $c001;
  color:$c003;
}

.square{
  aspect-ratio:1/1;
  object-fit:cover;
}

.h-100vh {
  height:100vh;
}